In [16]:
import pandas as pd

In [17]:
data_path = "raw/project_schedule_data.csv"  # Adjust path if necessary
df = pd.read_csv(data_path)

In [18]:
df.head(15)

,Task ID,Team Size,Resource Availability,Complexity,Priority,Risk,Environment,Dependencies,Task Duration (Days),Delay (Days),Start Date,End Date,Actual End Date
0,T0001,7,0.74,3,9,0.5,Arctic,[],42,0,23/01/2024,05/03/2024,05/03/2024
1,T0002,4,0.78,5,5,0.7,Arctic,['T0001'],59,4,05/03/2024,03/05/2024,07/05/2024
2,T0003,15,0.84,1,1,0.1,Desert,"['T0002', 'T0001']",18,0,03/05/2024,21/05/2024,21/05/2024
3,T0004,4,0.82,4,5,0.9,Onshore,"['T0002', 'T0001', 'T0003']",54,4,21/05/2024,14/07/2024,18/07/2024
4,T0005,9,0.97,2,5,0.3,Onshore,"['T0003', 'T0002']",34,0,21/05/2024,24/06/2024,24/06/2024
5,T0006,5,0.64,5,4,0.9,Arctic,['T0001'],64,6,05/03/2024,08/05/2024,14/05/2024
6,T0007,19,0.78,5,2,0.7,Desert,"['T0002', 'T0004', 'T0003']",49,5,14/07/2024,01/09/2024,06/09/2024
7,T0008,16,0.98,1,2,0.5,Offshore,[],20,8,14/01/2024,03/02/2024,11/02/2024
8,T0009,10,0.71,1,5,0.1,Desert,['T0007'],10,4,01/09/2024,11/09/2024,15/09/2024
9,T0010,4,0.95,1,6,0.5,Offshore,"['T0009', 'T0008', 'T0001']",19,8,11/09/2024,30/09/2024,08/10/2024
10,T0011,11,0.94,1,9,0.5,Onshore,"['T0001', 'T0010']",22,0,30/09/2024,22/10/2024,22/10/2024
11,T0012,6,0.59,4,5,0.3,Arctic,"['T0003', 'T0001', 'T0010']",50,0,30/09/2024,19/11/2024,19/11/2024
12,T0013,3,0.70,2,7,0.7,Offshore,"['T0010', 'T0004', 'T0012']",29,0,19/11/2024,18/12/2024,18/12/2024
13,T0014,9,0.67,5,6,0.1,Offshore,['T0009'],71,0,11/09/2024,21/11/2024,21/11/2024
14,T0015,19,0.74,5,8,0.3,Onshore,[],56,0,01/01/2024,26/02/2024,26/02/2024

In [21]:
sample = df[0:7]
sample

,Task ID,Team Size,Resource Availability,Complexity,Priority,Risk,Environment,Dependencies,Task Duration (Days),Delay (Days),Start Date,End Date,Actual End Date
0,T0001,7,0.74,3,9,0.5,Arctic,[],42,0,23/01/2024,05/03/2024,05/03/2024
1,T0002,4,0.78,5,5,0.7,Arctic,['T0001'],59,4,05/03/2024,03/05/2024,07/05/2024
2,T0003,15,0.84,1,1,0.1,Desert,"['T0002', 'T0001']",18,0,03/05/2024,21/05/2024,21/05/2024
3,T0004,4,0.82,4,5,0.9,Onshore,"['T0002', 'T0001', 'T0003']",54,4,21/05/2024,14/07/2024,18/07/2024
4,T0005,9,0.97,2,5,0.3,Onshore,"['T0003', 'T0002']",34,0,21/05/2024,24/06/2024,24/06/2024
5,T0006,5,0.64,5,4,0.9,Arctic,['T0001'],64,6,05/03/2024,08/05/2024,14/05/2024
6,T0007,19,0.78,5,2,0.7,Desert,"['T0002', 'T0004', 'T0003']",49,5,14/07/2024,01/09/2024,06/09/2024

In [22]:
sample.to_csv('Sample1.csv', index=False)